version: "3.8"

# This file defines the multi-container setup for the Flux log pipeline.
# It is used to simulate a real-world environment where:
#   - Flux.Service acts as the log collection and processing server.
#   - Flux.Forwarder acts as a client that generates log events via UDP.
services:
  # Main container that listen to incoming logs and processes them.
  flux-service:
    build:
      context: . # Root of repository where the .sln solution file and projects live.
      dockerfile: Flux.Service/DOCKERFILE
    ports:
      - "5140:5140/udp" # Expose UDP port for log ingestion.
    volumes:
      - ./Flux.Service/logs:/app/logs # Persist output.csv.
      - ./Flux.Service/appsettings.yaml:/app/appsettings.yaml:ro # Mount config into container as read-only.
    environment:
      - DOTNET_ENVIRONMENT=Production

  # Sibling container that periodically forwards fake logs to the main container to process.
  flux-forwarder:
    build:
      context: .
      dockerfile: Flux.Forwarder/DOCKERFILE
    depends_on:
      - flux-service
